// Navigation Styles here

nav {
    font-size: 1.6rem;
    @media @mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .bounce-top;

    }
    a {
        margin: 20px;
        color: @shark;
        text-decoration: none;
        @media @mobile {
            font-size:1.2rem;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

  